<p>
  웨딩K 클래식 (2층)<br>
  Tel. (055)261-9071 창원시 성산구 상남동 74-6 신텍타워
</p>
<table class="map-location" cellpadding="0" cellspacing="0">
  <tr>
    <td style="border:1px solid #cecece;">
      <a href="http://map.naver.com/?searchCoord=9e3c404fad69a306c78e681b6c0b4ceb15d0f0053e728df7d58a27ec14c6487d&query=7LC97JuQIOybqOuUqSBr&tab=1&lng=67afb8e41734b72ae24be97e4a76ab06&mapMode=0&mpx=02117530%3A37.2564583%2C127.0431377%3AZ11%3A0.0343022%2C0.0146145&lat=c2b9c27a7419b6dd2bf19ce7c6d45b0b&dlevel=12&enc=b64&menu=location" target="_blank">
        <img [src]="mapThumb" width="100%" height="auto" alt="지도 크게 보기" title="지도 크게 보기" border="0" style="vertical-align:top;"/>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td height="30" bgcolor="#f9f9f9" align="left" style="padding-left:9px; border-left:1px solid #cecece; border-bottom:1px solid #cecece;">
            <span style="font-family: tahoma; font-size: 11px; color:#666;">2018.4.14</span>&nbsp;<span style="font-size: 11px; color:#e5e5e5;"></span>
            &nbsp;
            <a style="font-family: dotum,sans-serif; font-size: 11px; color:#666; text-decoration: none; letter-spacing: -1px;" href="http://map.naver.com/?searchCoord=9e3c404fad69a306c78e681b6c0b4ceb15d0f0053e728df7d58a27ec14c6487d&query=7LC97JuQIOybqOuUqSBr&tab=1&lng=67afb8e41734b72ae24be97e4a76ab06&mapMode=0&mpx=02117530%3A37.2564583%2C127.0431377%3AZ11%3A0.0343022%2C0.0146145&lat=c2b9c27a7419b6dd2bf19ce7c6d45b0b&dlevel=12&enc=b64&menu=location" target="_blank">지도 크게 보기</a>
          </td>
          <td width="98" bgcolor="#f9f9f9" align="right" style="text-align:right; padding-right:9px; border-right:1px solid #cecece; border-bottom:1px solid #cecece;">
            <span style="float:right;">
              <span style="font-size:9px; font-family:Verdana, sans-serif; color:#444;">&copy;&nbsp;</span>
              &nbsp;
              <a style="font-family:tahoma; font-size:9px; font-weight:bold; color:#2db400; text-decoration:none;" href="http://www.nhncorp.com" target="_blank">NAVER Corp.</a>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<hr>
<p>
  1. 자가용 <br>
  남해, 진주선 10번 고속도로 → 산인JC → 마산, 창원 방면 → 동마산IC진입 → 창원방면 → 시청광장 방면 <br>
  부산, 창원선 10번 고속도로 → 장유 IC → 창원터널방면 → 시청광장 방면 <br>
  2. 버스 <br>
  일반 버스 106번, 109번, 150번, 210번, 211번, 213번 <br>
  좌석 버스 705번, 751번 <br>
</p>
<p>
  <b>주차장 안내</b><br>
  신텍타워 지하 주차장(2시간 무료) - 주차확인 도장 꼭 받아가세요.<br>
  신한은행 주차장(무료)<br>
  신텍타워 빌딩 옆 공터 주차장(2시간 무료)<br>
</p>
