.content-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.center * {
    margin: auto;
    padding: 10px;
}

tab {
    height: calc(100vh);
}

.nav-item {
    width: 30%!important;
}