hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:darkgray;
    height: 1px;
}

.name {
    color: gray;
}

.comment {
    color: gray;
}

.input-form {
    margin-right: 10px;
}